name: Terraform Plan

on:
  workflow_dispatch:
  #pull_request:
    #branches: [ "main", "staging" ]

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::<ACCOUNT_ID>:role/github-oidc-role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.8.4"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Select tfvars based on branch
        id: vars
        run: |
          if [[ "${{ github.base_ref }}" == "staging" ]]; then
            echo "tfvars=envs/staging.tfvars" >> $GITHUB_OUTPUT
          else
            echo "tfvars=envs/prod.tfvars" >> $GITHUB_OUTPUT
          fi

      - name: Terraform Plan
        run: terraform plan -var-file=${{ steps.vars.outputs.tfvars }}
